@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 55px;
  font-family: 'Roboto';
  padding: 0;
  color: #A7A1AE;
  background-color: #1F2739;
}

.nav {
  background-color: #4B77BE;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 15px;
}

.nav a.brand-logo {
  float: left;
  line-height: 50px;
  font-size: 1.4em;
  color: #d8e1ea;
}

.nav ul {
  height: 100%;
  position: relative;
  top: 0;
  list-style: none;
  margin: 0;
}

.nav ul li {
  float: right;
  height: 100%;
  cursor: pointer;
  background: #406bb0;
  line-height: 50px;
  padding: 0 20px;
  transition: all 0.5s ease;
}

.nav ul li a {
  text-decoration: none;
  color: #d8e1ea;
  font-size: 1em;
}

.nav ul li.active {
  border-bottom: 2px solid #C0392B;
}

.nav-shadow {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #406bb0;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.heading {
  display: inline-block;
  background: url(https://content.halocdn.com/media/Default/encyclopedia/banner/hero-universe-1920x350-9bb9ac05344d4d63afd2680ff6dfc2f9-db0bfc833b084157b5b524e6015d7615.jpg);
  height: 350px;
  width: 100%;
}

.heading h1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  top: 70%;
  left: 65px;
  transform: translateY(-50%);
  font-weight: 300;
}

.heading-shadow {
  width: 100%;
  height: 10px;
  background-color: #0d1018;
  margin-bottom: 15px;
}

#filters {
  width: 400px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: fixed;
  background-color: #ECECEC;
  padding: 0;
  z-index: 999;
  border-bottom: solid 5px #4B77BE;
  opacity: 0;
  right: -415px;
  padding-bottom: 10px;
}

#filters.active {
  opacity: 1;
  right: 15px;
}

#filters h1 {
  background: #4B77BE;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  margin: 0;
  color: #fff;
}

#filters form.filter-form {
  background: #f0f0f0;
  padding: 6% 4%;
}

#filters form.filter-form span {
  float: left;
  width: 100%;
  margin: 5px 0;
}

#filters form.filter-form input[type="text"] {
  width: 92%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

/* ************* */
/* Radio Buttons */

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  background: rgba(0,0,0,0.26);
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
  margin-left: 15px;
}
.switch::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.28);
  border-radius: 50%;
  -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
  background: rgba(0,150,136,0.5);
}
input:checked + .switch::before {
  left: 20px;
  background: #009688;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}


/* **************************** */
/* Server List                  */

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	font-weight: bold;
	font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	font-weight: normal;
	font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	padding-bottom: 2%;
	padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	background-color: #2C3446;
}

.container th {
	background-color: #1F2739;
  cursor: default;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}

.container td a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: default;
  color: #A7A1AE;
}

.container td:first-child a {
  text-decoration: none;
  text-transform: capitalize;
  color: #C0392B;
  cursor: pointer;
}

.map-header {
  left: 0;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-bottom: 25px;
  background: url(http://i.imgur.com/ABELaJf.jpg);
  background-size: cover;
}

.map-header img {
  
}

.map-header .gametype {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}


.map-header .gametype img {
  position: relative;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  float: left;
  max-width: 160px;
  max-height: 160px;
  width: auto;
  height: auto;
}


.map-header .gametype .gametype-text {
  font-weight: 200;
  font-size: 120px;
  position: relative;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  float: left;
}

.server-detail {
  
}